################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/RealTimeCommunication/v16
/RealTimeCommunication/bin/Debug/netcoreapp3.1
/RealTimeCommunication/obj
